body {
  /* margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black; */
}

.title{
   text-align: center;
   color: beige;
   margin-top: 100px;
}

.cards{
  max-width: 900px;
  margin: 0 auto;
  margin-top: 100px;
}

.card{
  color: #b38585;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid;
}

.card:not(:first-child){
  margin-top: 20px;
}

.card p {
  margin-top: 20px;
  
}


.card--1 p{
  line-height: 35px;
}