body {
    background-color: black;
    font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; 
  }

  
  .box{
    background-color: rgb(255, 255, 255);
    min-height: 100px;
    width: 500px;
    border-radius: 10px;
    text-align: center;
  }

  .box h1{
    font-size: large;
    margin-top: 8px;
  }

  .box .enunciado{
    text-align: start;
   padding: 10px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    background-color: rgb(241, 0, 0);
    padding: 10%;
    margin: 10px 10px 10px 10px;
  }